{% macro navbar(current_user) -%}

<navbar class="navbar m-0 p-0 d-flex  " style="background-color:  #2D3142; padding: 10px 20px;font-size: 18px;font-weight: bold;margin: auto;align-items: center;";>
    <div class="logo font-size: 24px;font-weight: bold;">
        <a href="{{ url_for('home') }}" style = "color: #fff;
        padding: 8px 15px;
        display: block; font-size: 24px;"
        onmouseover="this.style.background='#575757';"
        onmouseout="this.style.background='#2D3142';">FreelancePro</a>
    </div>
    <div class="search-bar" style="margin: auto;display: flex;align-items: center; padding: 6px;
    font-size: 14px;
    border: none;
    border-radius: 4px; ">
        <input type="text" class="px-3" placeholder="Search talent...">
    </div>
    {% if not current_user.is_authenticated %}
    <a href="{{ url_for('login') }}" style="color: #fff;
        padding: 8px 15px;
        display: block;"
        onmouseover="this.style.background='#575757';"
        onmouseout="this.style.background='#2D3142';">Login</a>
        {% endif %}
        <a href="{{ url_for('register') }}" style="color: #fff;
        padding: 8px 15px;
        display: block;"
        onmouseover="this.style.background='#575757';"
        onmouseout="this.style.background='#2D3142';">Sign Up</a>
</navbar>

{%- endmacro %}