<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password</title>
  </head>
  <body>
    <h1>Reset Password</h1>
    <form action="" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">New Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Reset Password">
    </form>
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}
  </body>
</html>